RUNNER=local
ENV_NAME=dev
BASE_URL=https://katalon-demo-cura.herokuapp.com/
TEST_USERNAME=John Doe
TEST_PASSWORD=ThisIsNotAPassword
DB_SERVER=localhost
DB_DATABASE=testdb
DB_CONNECTION_STRING=Server=localhost;Database=testdb;User Id=myUsername;Password=myPassword;
